<!doctype html>
<html lang="ko">
<meta charset= "utf-8">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <head>
        <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
        <title>Disney</title>
        
    </head>
    <body>
    <header>
        <div class="h_logo">
            <a href="/"><p>Disney</p></a>
        </div>
        <ul class="gnd">
        <li><a href="/">메인</a></li>
        <li><a href="/search">검색</a></li>
        <li><a href="/signup">회원가입</a></li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">로그아웃</a><li>
                
        </ul>
    </header>
        <div class="main_bn">
            <div class="sh_input">
    
                
    <div class="maininput">
    
            </div><!--maininput-->
                
            </div><!--sh_input-->
            
        </div><!--main_bn-->
        
        <div class="p1">
            <div class="p1_wrap">
        <div class="service">
            <h3>서비스</h3>
            <div class="s_box">
                <a href="/info">
            <div class="icon_box">
                <i class="far fa-question-circle"></i>
            </div><!--icon_box-->
            <div class="text">
        <p>디즈니 정보</p>
        <span>디즈니정보에 대해 알아보세요 </span>
            </div>
                </a>
            </div><!--s_box1-->
            
              <div class="s_box">
                <a href="/search">
            <div class="icon_box">
                <i class="fas fa-search"></i>
            </div><!--icon_box-->
        <div class="text">
        <p>디즈니 작품 검색</p>
        <span>디즈니의 작품을 검색해보세요</span>
                    </div>
                </a>
            </div><!--s_box2-->
            
              <div class="s_box">
                <a href="/baseball">
            <div class="icon_box">
                <i class="far fa-image"></i>
            </div><!--icon_box-->
            <div class="text">
        <p>디즈니 사진</p>
        <span>디즈니 사진을 보세요 </span>
            </div>
                </a>
            </div><!--s_box3-->
        </div><!--service-->
   </div><!--p1_wrap-->
        </div><!--p1-->
        
        
     <footer>
     
    <div class="f_wrap">
     <div class="level1">
      <div class="f_logo">
          <p>Disney</p> 
      </div><!--f_logo-->
        <ul class="f_util">
         
         <li><a href="#">이용약관</a></li>
         <li><a href="#">개인정보보호정책</a></li>
         <li><a href="#">사이트맵</a></li>
               
        </ul><!--f_util--> 
           
     </div><!--level1-->
        
     <div class="level2">    
         
     <p class="f_txt">
     사이트운영자:20200712 김다은<br>
     부산광역시 부산진구 개금<br>
     ⓒkimdaeun<br>
         
    </p>     
     </div><!--level2-->    
     
    </div>
     
 </footer>  
        
    </body>
    
</html>